# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Editors / OS
.DS_Store
.idea/
.vscode/

# Notebook checkpoints
.ipynb_checkpoints/

# Local data artifacts not meant for remote storage
data/**/*.parquet
data/**/*.feather
